<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Registro de usuarios</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

	<link href="/css/starter-template.css" rel="stylesheet">
</head>
<body>


	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#">Registro e inicio de sesión</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#"></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/usuario/new"></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<br>
	<br>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
			<br><br><br>
				<div th:if=${param.exito}>
					<div class="alert alert-info">Se ha registrado exitosamente a
						la aplicación</div>
				</div>
				<h1>Regístrate</h1>
				<form th:action="@{/registro}" method="post" th:object="${usuario}">
				 <div th:if="${errorCorreoEnUso}">
                        <p style="color: red;">El correo electrónico ya está en uso.</p>
                    </div>
					<div class="form-group">
						<label class="control-label" for="nombre">Nombre : </label> <input
							id="nombre" type="text" class="form-control" th:field="*{nombre}"
							required autofocus="autofocus">
					</div>

					<div class="form-group">
						<label class="control-label" for="apellido">Apellido : </label> <input
							id="apellido" class="form-control" th:field="*{apellido}"
							required autofocus="autofocus">
					</div>

					<div class="form-group">
						<label class="control-label" for="email">Email : </label> <input
							id="email" type="email" class="form-control" th:field="*{email}"
							required autofocus="autofocus">
					</div>

					<div class="form-group">
						<label class="control-label" for="password">Password : </label> <input
							type="password" id="password" class="form-control" th:field="*{password}"
							required autofocus="autofocus">
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-success">Registrar</button>
						<span>Si estas registrado <a th:href="@{/login}">inicia sesión aqui</a></span>
					</div>
				</form>
				
    

			</div>
		</div>
	</div>


	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>
</html>














